@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-size: 2rem;
  font-family: var(--primary-font);
}

:root {
  --primary-color: #b1060f;
  --bg-color: #121212;
  --white-color: #ffffff;

  --primary-font: "PT Sans", sans-serif;
  --secondary-font: "Bebas Neue", sans-serif;
}
